
body {
    margin: 1;
    padding: 0;
    background-image: url(fondo.png);
    }

    nav{
        background-color: #15427260;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        border: 1px solid rgba(209, 77, 77, 0.473);
        font-size: 20px;  
    }
    
    nav ul li{
        float: left;
        list-style:none;
        margin: 4px;
        line-height: 1px;  
    }
    
    .clearfix{
        clear:both;
    }

    .name {
        border-style: inset;
        margin: 1px;
        border: solid 1px rgb(241, 240, 240);
        width: 100%;
        height: 240px;
        background: #15427260;
        text-align:left;
        border-image: 1px solid rgb(255, 255, 255);
    }
    
    .name .contenido {
        width: 50%;
        height: 50%;
        position: absolute ;
        left: 25%;
    }

    
    
    .name .contenido .p1{
        background:  #0d1b2a00;
        color: #E0E1DD;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 50px;
        margin-bottom: 0;
    }
    
    .datoprint{
        
        background:  #0d1b2ac2;
        color: #E0E1DD;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
    }

    footer{
        
        background: black;
        color: white;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
    }
